.food-menu {
  padding: 10px 0 30px;
  &__title {
    text-align: center;
    margin: 10px 0 5px;
    font-weight: 400;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    box-sizing: border-box;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__item-title {
    margin: 0;
    padding: 5px 10px;
    background-color: $fontColor;
    color: $fontColor-white;
    font-size: 1.3rem;
    font-weight: 700;
  }
  &__category-list {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
  }
  &__category-item {
    padding: 0px 10px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__category-name {
    color: $fontColor-bronze;
    margin-bottom: 5px;
  }
  &__category-desc {
    margin-bottom: 5px;
    font-size: 0.7rem;
  }
  &__category-weight {
    text-align: right;
    color: $fontColor-bronze;
  }

}