.header {
  padding: 15px 0 15px;
  background-image: url('/assets/img/header_bg.jpg');
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__logo {
    display: flex;
    width: 50%;
    & svg {
      height: 53px;
      margin: 0 auto 0px;
      display: block;
      box-sizing: border-box;
      fill: #fff;
    }
  }
  &__title {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  @include mobile {
  }
}