.infoblock {
  padding: 30px 0;
  text-align: center;
  &__title {
    margin: 0 0 20px;
    font-size: 1.75rem;

    font-weight: 400;
    font-style: italic;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__food-title {
    font-size: 1.7rem;
    line-height: 1.7rem;
    margin: 17px 0 5px;
    font-weight: 400;
    color: $fontColor-bronze;
    text-transform: uppercase;
  }
  &__desc {
    margin: 0;
    font-size: 1rem;
    line-height: 1rem;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__img {
    overflow: hidden;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      width: 100%;
    }
  }

  @include mobile {

    &__list {

    }
    &__food-title {
      font-size: 1.5rem;
      line-height: 1.2rem;
      margin: 12px 0 10px;
      font-weight: 700;
    }
    &__img {
      height: auto;
    }
  }
}