.main-nav {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__item {
    width: 100%;
    &:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 5px;
    }
  }
  &__link {
    height: 27px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    color: $fontColor;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    &:not(.active):hover {
      color: $fontColor-white;
    }
    &.active {
      color: $fontColor-green;
    }
  }

  @include tablet {
    justify-content: center;
    align-items: center;
    &__item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
    &__link {
      height: $headerHeight;
      justify-content: center;
    }
  }
}
