.main-nav {
  &__list {
    display: flex;
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 15px;
    overflow: hidden;
    border: 1px solid $fontColor;
    border-radius: 5px;
    & span {
      transition: 0.3s;
      display: block;
      width: 21px;
      height: 1px;
      background-color: $fontColor;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
    &--open {
      & span {
        &:not(:last-child) {
          margin-bottom: 0;
        }
        &:last-child {
          transform: rotate(-45deg) translateX(1px);
        }
        &:first-child {
          transform: rotate(45deg) translateX(1px);
        }
        &:nth-child(2) {
          transform: translateX(50px);
        }
      }
    }
  }
  &__item {
    width: 100%;
    &:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 5px;
    }
  }
  &__link {
    height: 27px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    color: $fontColor;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    &:not(.active):hover {
      color: $fontColor-white;
    }
    &.active {
      text-decoration: underline;
    }
  }

  @include tablet {
    justify-content: center;
    align-items: center;
    &__item {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
    &__link {
      height: $headerHeight;
      justify-content: center;
    }
  }
}
