.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    width: 38px;
    height: 38px;
    display: block;
    border-radius: 50%;
    background-color: $fontColor-white;
    opacity: 0.5;
    & svg {
      display: block;
      width: inherit;
      height: inherit;
      fill: #70695e;
    }
  }
}