.splash {
  padding: 25px 0 25px;
  background-image: url('/assets/img/header_bg.jpg');
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
  }
  &__item {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__text {
    margin: 0;
    color: $fontColor-white;
    &--1 {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    &--2 {
      font-size: 1rem;
    }
  }
  &__img-box {
    & svg {
      fill: #fff;
      width: 67px;
      height: 61px;
      display: block;
    }
  }

  @include mobile {
  }
}