.welcome {
  &__inner {
    display: flex;
    padding: 30px 0 30px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }
  &__text-box {
  }
  &__title {
    margin: 0 0 19px;
    color: #c4361d;
    font-style: italic;
    text-align: center;
    font-size: 2.7rem;
    line-height: 2.8rem;
  }
  &__subtitle {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
  &__desc {
    margin: 0;
  }
  &__img svg {
    fill: $fontColor;
    width: 175px;
    height: 154px;
    display: block;
    margin: 0 auto 25px;
  }

  @include mobile {
  }

}