@font-face {
  font-family: 'Futura';
  src: url('/assets/fonts/FuturaRegular/FuturaRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/assets/fonts/FuturaBold/FuturaBold.ttf');
  font-weight: bold;
  font-style: normal;
}