doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name='yandex-verification', content='53d943ec091e3aa2')
    meta(name="description", content=description)
    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='assets/css/main.css')
    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)
    title= title
  body
    include ../blocks/header
    block content
    include ../blocks/footer