.contact
  .container
    h2.contact__title
      | Контакты
    p.footer__desc
      | Россия, Краснодарский край
      br
      | с. Эсто-Садок
      br
      | ул. Горная Карусель, д. 6, Апарт 28
      br
      | тел: 8.928.445.51.50
    .contact__map
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d551.0956267014453!2d40.265036849829066!3d43.68314636505094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc8b77a073115c5ba!2z0JvQrkTQmA!5e0!3m2!1sru!2sru!4v1489478973847', height='400', frameborder='0', style='border:0', allowfullscreen='')


