header.header
  .container
    .header__inner
      h1.header__title(title='Ресторан ЛЮДИ') Ресторан Бар ЛЮДИ
        a.header__logo(href='/')
          svg
            use(xmlns="http://www.w3.org/2000/svg" xlink:href='./assets/img/sprite.svg#ludi')
      include main-nav