.hello
  .container
    .hello__inner
      .hello__text-box
        //svg
        //  use(xmlns="http://www.w3.org/2000/svg" xlink:href='/assets/img/sprite.svg#ludi')
        p.hello__desc
          | "ЛЮDИ" - респектабельный ресторан в самом сердце всесезонного горного курорта «Горки Город».
        .hello__img
          img(src='/assets/img/interior/01.jpg')
        p.hello__desc
          | Его роскошный интерьер стилистически выдержан и олицетворяет статус наших Гостей.
        .hello__img
          img(src='/assets/img/party/05.jpg')
        p.hello__desc
          | Основа меню состоит из авторских мясных блюд.
        .hello__img
          img(src='/assets/img/food/steak/tom.jpg')
        p.hello__desc
          | "ЛЮDИ" не то место, куда попадают случайно, такие обеды и ужины стоят того, чтобы их планировать, а для этого всегда можно забронировать стол в удобное для вас время.
        .hello__img
          img(src='/assets/img/interior/02.jpg')
        p.hello__desc
          | Днем - это место, подходящее для деловых встреч и семейных обедов, где благодаря внимательному и ненавязчивому обслуживанию, эффектным подачам и спокойной обстановке вы сможете приятно провести время среди красивых и успешных людей.
        .hello__img
          img(src='/assets/img/party/01.jpg')
        p.hello__desc
          | Вечером «ЛЮDИ» - идеальное место для pre-party. К этому располагает бар, где вас ожидает большой выбор напитков, от любимых алкогольных хитов до авторских коктейлей. Дружелюбные бармены с удовольствием поделятся с вами секретами миксологии.
        .hello__img
          img(src='/assets/img/party/02.jpg')
        p.hello__desc
          | Музыкальные рецепты от DJ г. Сочи по пятницам и субботам помогут вам настроиться на правильную волну.
        .hello__img
          img(src='/assets/img/party/04.jpg')
        p.hello__desc
          | Мы влюблены в мясо и правильные коктейли. Будем очень рады видеть Вас в нашем ресторане. Приходите и насладитесь нашим гостеприимством!
