section.img-block
  .img-block__item(style='background-image: url(/assets/img/imgblock/01.jpg)')
  .img-block__item
    .img-block__item.img-block__item--half(style='background-image: url(/assets/img/imgblock/02.jpg)')
    .img-block__item.img-block__item--half
      .img-block__item.img-block__item--quard(style='background-image: url(/assets/img/imgblock/03.jpg)')
      .img-block__item.img-block__item--quard(style='background-image: url(/assets/img/imgblock/04.jpg)')
  .img-block__item
    .img-block__item.img-block__item--half(style='background-image: url(/assets/img/imgblock/05.jpg)')
    .img-block__item.img-block__item--unique
      .img-block__item.img-block__item--unique2(style='background-image: url(/assets/img/imgblock/06.jpg)')
      .img-block__item.img-block__item--logo.img-block__item--logo--moo
        svg
          use(xmlns="http://www.w3.org/2000/svg" xlink:href='./assets/img/sprite.svg#ludi')
  .img-block__item(style='background-image: url(/assets/img/imgblock/07.jpg)')