.container.clearfix
  .infoblock
    h1.infoblock__title Наше меню
    .infoblock__list
      .infoblock__item
        .infoblock__img
          img(src='/assets/img/food/1.jpg')
        h2.infoblock__food-title Ростбиф из говяжей вырезки
        p.infoblock__desc
          | С гарниром из смеси запеченных Чили и сладкого перца с вялеными оливками. /
          i Roasted beef fillet. Side dish - baked chili and bell pepper with dried olives.
      .infoblock__item
        .infoblock__img
          img(src='/assets/img/food/2.jpg')
        h2.infoblock__food-title МОЗГОВЫЕ КОСТИ
        p.infoblock__desc
          | Запеченные на гриле с луком конфи. /
          i Marrowbones grilled with onion confit.
      .infoblock__item
        .infoblock__img
          img(src='/assets/img/food/3.jpg')
        h2.infoblock__food-title ТОМАГАВК
        p.infoblock__desc
          | Стейк Томагавк — это рибай на кости. Имеет насыщенный говяжий аромат и превосходную мраморную текстуру.