-
  var mainNav = {
  'Главная': '/',
  'Меню': '/menu',
  'Музыка': '/music',
  'Контакты': '/contact'
  }

nav.main-nav
  .main-nav__toggle
    span
    span
    span
  ul.main-nav__list
    each href, link in mainNav
      li.main-nav__item
        a(class=`main-nav__link`+((link === page) ? ' active' : ''), href=href)= link