.slider
  ul.slider__list
    li.slider__item.active(style='background-image: url(/assets/img/slider/slide1.jpg)')
    li.slider__item(style='background-image: url(/assets/img/slider/slide2.jpg)')
    li.slider__item(style='background-image: url(/assets/img/slider/slide3.jpg)')
  .slider__controls
    a.slider__control.slider__control--next next

