.welcome
  .container
    .welcome__inner
      .welcome__text-box
        h1.welcome__title
          | Добро Пожаловать
        p.welcome__subtitle
          | Ресторан-бар "ЛЮDИ"
          br
          span респектабельный ресторан в сердце Красной Поляны
  img.welcome__img(src='/assets/img/welcome/welcome_01.jpg')
  .container
    .welcome__inner
      .welcome__text-box
        p.welcome__desc
          | Для любителей мясных блюд, лучшего ресторана не найти! Мы уверены, что удовлетворим даже самые изысканные вкусы. Все наши блюда приготовлены только из свежайших и качественных ингридиентов. Как только Вы попробуете одно из наших блюд, ваши рецепторы взорвутся яркой палитрой аппетитных ароматов!

        p.welcome__desc
          | Мясо, не единственное, что способно Вас удивить в нашем заведении! Мы держим в баре,
          b самый большой выбор спиртных напитков на Красной Поляне!
          | И это не шутка! Многолетний опыт барменов, лучший акоголь от всемирно известных брендов и свежие ингридиенты - вот гарантия бесподобного качества и вкуса!

        //| Один укус в одном из наших восхитительных энчиладов или бурритос приведет к взрыву аппетитных ароматов! Не волнуйся; У нас есть что-то для тех, кто любит жару, включая наши чилийские перцы! Поэтому, когда голодовки, не игнорируйте это. Спешите посетить наш мексиканский ресторан, где вы не поверили.

      //.welcome__img
      //  svg
      //    use(xmlns="http://www.w3.org/2000/svg" xlink:href='/assets/img/sprite.svg#ibp')