.welcome
  .container
    .welcome__inner
      .welcome__text-box
        h1.welcome__title
          | Welcome to our website
        p.welcome__subtitle
          | SATISFY YOUR HUNGER WITH OUR EXTRAVAGANT MENU!
        p.welcome__desc
          | Ресторан-бар "ЛЮDИ" - респектабельный ресторан в самом сердце всесезонного горного курорта "Горки Город".  Его роскошный интерьер стилистически выдержан и олицетворяет статус наших Гостей. Подкупает своей изысканностью атмосфера, созданная из таких элементов декора как натуральное дерево, стекло, медь, кожа в обрамлении мягкого света.
          | Основа меню состоит из тщательно отобранных авторских мясных блюд, одним из которых являются стейки, приготовленные в печи "Josper" категории "Prime" из продуктов  лучшего отечественного производителя - компании "Мироторг".
        p.welcome__desc
          | Мы руководствуемся несколькими правилами. Во-первых, мясная кухня – это не только стейки. Найти для каждого сорта мяса тот рецепт, который подчеркнет все его достоинства, - вот концепция  меню. Во-вторых,  мясо – это не только говядина, но и баранина, свинина, птица.
        p.welcome__desc
          | Создавая меню ресторана, Михаил Мамин и его команда поваров  старались учесть разные вкусы Гостей и сделать каждое блюдо уникальным.
        p.welcome__desc
          | «ЛЮDИ» не то место, куда попадают случайно, такие обеды и ужины стоят того, чтобы их планировать, а для этого всегда можно забронировать стол в удобное для вас время.
        p.welcome__desc
          | Днем - это место, подходящее для деловых встреч и семейных обедов, где благодаря внимательному и ненавязчивому обслуживанию, эффектным подачам и спокойной обстановке вы сможете приятно провести время среди красивых и успешных людей .
          | По вечерам "ЛЮDИ" - идеальное место для pre-party. К этому располагает бар,  где вас ожидает  большой выбор напитков от любимых алкогольных хитов до авторских коктейлей и обширная винная карта.  В нем создана особая атмосфера, которая веет уже от  барной стойки.  Дружелюбные бармены откликнутся на любую просьбу и с удовольствием поделятся с вами секретами миксологии.
          | Музыкальные рецепты от DJ г.Сочи по пятницам  и субботам помогут вам настроиться на правильную волну.
        p.welcome__desc
          | Мы влюблены в мясо и правильные коктейли. Будем очень рады видеть Вас в нашем ресторане. Приходите и насладитесь нашим гостеприимством!
      .welcome__img
        svg
          use(xmlns="http://www.w3.org/2000/svg" xlink:href='/assets/img/sprite.svg#ibp')