.welcome
  .container
    .welcome__inner
      .welcome__text-box
        p.welcome__subtitle
          svg
            use(xmlns="http://www.w3.org/2000/svg" xlink:href='/assets/img/sprite.svg#ludi')
          br
          span
            | респектабельный ресторан
            br
            | в сердце Красной Поляны
  img.welcome__img(src='/assets/img/welcome/welcome_01.jpg')
  .container
    .welcome__inner
      .welcome__text-box
        p.welcome__desc
          | Для любителей мяса, лучшего ресторана не найти! Мы удовлетворим даже самые изысканные вкусы. На нашей кухне используются только свежие и качественные ингредиенты! Как только Вы попробуете одно из наших блюд, ваши рецепторы взорвутся яркой палитрой вкусов!
        p.welcome__desc
          | Мясо, не единственное, что способно удивить в нашем заведении! Мы держим в баре, самый большой выбор спиртных напитков на Красной Поляне! И это не шутка! Многолетний опыт барменов, лучший алкоголь от всемирно известных брендов и свежие ингредиенты - вот гарантия бесподобного качества и вкуса!
  include imgblock
  .container
    .welcome__inner
      svg.welcome__svg
        use(xmlns="http://www.w3.org/2000/svg" xlink:href='/assets/img/sprite.svg#ibp')
      p.welcome__desc
        | Мы часть одной большой семьи, которая была основана в 2015 году. IBP group, помимо нашего, включает в себя еще четыре заведения, которые располагаются в самом центре всесезонного курорта "Горки Город", на высоте 540 метров над уровнем моря.
      p.welcome__desc
        | Слаженная команда профессионалов, влюбленных в свою работу и горы! Вот как кратко можно нас охарактеризовать.