.welcome
  .container
    .welcome__inner
      .welcome__text-box
        h1.welcome__title
          | Welcome to our website
        p.welcome__subtitle
          | SATISFY YOUR HUNGER WITH OUR EXTRAVAGANT MENU!
        p.welcome__desc
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi purus, vehicula at luctus in, tempor vitae leo. Nam commodo ligula tincidunt convallis dapibus. Etiam tempor feugiat sapien, vel elementum orci porta vitae. Cras vehicula bibendum congue. Aenean non sagittis urncon gfringilla nulla. Proin nec volutpat orci. Nunc justo nisl, vestibulum quis eros at, pulvinar lacinia quam. Donec eget condimentum nunc. Integer commodo, ligula vel tristique aliquam, eros elit aliquam eros, ut dictum magna risus eu augue. Phasellus vitae orci mi.
      .welcome__img
        svg
          use(xmlns="http://www.w3.org/2000/svg" xlink:href='/assets/img/sprite.svg#ibp')