extend common/mainLayout

block content
  main
    include blocks/slider
    include blocks/splash
    include blocks/welcome
    .line
    include blocks/infoblock
    .line
    //include blocks/feedback

