extend common/mainLayout

block content
  main
    include blocks/slider
    include blocks/splash
    include blocks/welcome
    include blocks/imgblock
    //include blocks/hello
    //.line
    //include blocks/feedback

