extends common/mainLayout

block content
  main
    .music
      .container
        h1.music__title Музыка вкуса
        p.music__desc
          | По выходным дням людям свойственно веселиться и мы не исключение!
        p.music__desc
          | В нашем баре за это отвечают бармены c их миксологическим талантом и Dj's с превосходным музыкальным вкусом.
        p.music__desc
          | На этой странице мы познакомим Вас с музыкальным меню нашего бара.
        include blocks/dj